In [3]:
import re

In [23]:
chat1 = 'my phone number is 1234567890 and email is shanEeb_A123@gmail.com'
chat2 = 'here it is: (123)-567-1234 , shaneeb_KottakkAl@yahoo.com'
chat3 = 'phone: 1234567890 email: shaneeB_kottakkal@gmail.com'
allchat = chat1+' '+chat2+' '+chat3

In [24]:
allchat

'my phone number is 1234567890 and email is shanEeb_A123@gmail.com here it is: (123)-567-1234 , shaneeb_KottakkAl@yahoo.com phone: 1234567890 email: shaneeB_kottakkal@gmail.com'

In [10]:
pattern = '\d{10}'

matches = re.findall(pattern,chat2)
matches

[]

In [16]:
pattern = '\(\d{3}\)-\d{3}-\d{4}'
matches = re.findall(pattern,chat2)
matches

['(123)-567-1234']

In [25]:
pattern = '[a-zA-Z\d_]*@[a-zA-z]*\.[a-zA-Z]*'
matches = re.findall(pattern,allchat)
matches

['shanEeb_A123@gmail.com',
 'shaneeb_KottakkAl@yahoo.com',
 'shaneeB_kottakkal@gmail.com']

In [26]:
chat = 'I have issue with this order number 123456 my order # 123456 my order 123456'

In [29]:
pattern = 'order[^\d]*(\d*)'

matches = re.findall(pattern, chat)
matches

['123456', '123456', '123456']

In [77]:
elon = '''Born	Elon Reeve Musk
June 28, 1971 (age 52)
Pretoria, Transvaal, South Africa
Education	University of Pennsylvania (BA, BS)
Title	
Founder, CEO, and chief engineer of SpaceX
CEO and product architect of Tesla, Inc.
Owner and CTO of Twitter
President of the Musk Foundation
Founder of the Boring Company, X Corp., and xAI
Co-founder of Neuralink, OpenAI, Zip2, and X.com (part of PayPal)
Spouses	
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)​
Partner	Grimes (2018–2021)[1]
Children	10[a][3]
Parents	
Errol Musk (father)
Maye Musk (mother)
Family	Musk family'''

In [31]:
pattern = 'age.(\d+)'
matches = re.findall(pattern, elon)
matches

['52']

In [38]:
pattern = 'Born(.*)'
matches = re.findall(pattern, elon)
matches[0].strip()

'Elon Reeve Musk'

In [56]:
pattern = 'Born.*\n(.*)\(age'
matches = re.findall(pattern, elon)
matches[0].strip()

'June 28, 1971'

In [51]:
pattern = 'age.*\n(.*)'
matches = re.findall(pattern, elon)
matches

['Pretoria, Transvaal, South Africa']

In [59]:
def get_pattern_match(pattern,text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0].strip()

In [67]:
def get_personal_information(text):
    name = get_pattern_match('Born(.*)',text)
    age = get_pattern_match('age.(\d+)',text)
    DOB = get_pattern_match('Born.*\n(.*)\(age',text)
    place = get_pattern_match('age.*\n(.*)',text)
    
    return {
        'name' : name,
        'age' : age,
        'DOB': DOB,
        'Place': place
    }

In [68]:
BIO_Data_elon = get_personal_information(elon)
BIO_Data

{'name': 'Elon Reeve Musk',
 'age': '52',
 'DOB': 'June 28, 1971',
 'Place': 'Pretoria, Transvaal, South Africa'}

In [75]:
def dic_to_pandas(dic):
    bio_data = pd.DataFrame([dic])
    return bio_data

In [76]:
elon_df = dic_to_pandas(BIO_Data)
elon_df

              name age            DOB                              Place
0  Elon Reeve Musk  52  June 28, 1971  Pretoria, Transvaal, South Africa

In [70]:
import pandas as pd
bio_data = pd.DataFrame([BIO_Data])
bio_data

              name age            DOB                              Place
0  Elon Reeve Musk  52  June 28, 1971  Pretoria, Transvaal, South Africa

In [80]:
tim_cook = '''Born	Timothy Donald Cook
November 1, 1960 (age 62)
Mobile, Alabama, U.S.
Education	Auburn University (BS)

Duke University (MBA)
Title	CEO of Apple Inc. (2011–present)
Website	Apple Leadership Profile
'''

In [81]:
bio_data_tim = get_personal_information(tim_cook)

In [82]:
bio_data_tim

{'name': 'Timothy Donald Cook',
 'age': '62',
 'DOB': 'November 1, 1960',
 'Place': 'Mobile, Alabama, U.S.'}

In [83]:
dic_to_pandas(bio_data_tim)

                  name age               DOB                  Place
0  Timothy Donald Cook  62  November 1, 1960  Mobile, Alabama, U.S.